<dx-drop-down-button
    [dataSource]="dropDownData"
    valueExpr="id"
    displayExpr="nombre"
    [text]="dropDownText"        
    stylingMode="text"
    width="400"
    (onItemClick)="onItemClick($event)"
    >            
</dx-drop-down-button>

<dx-data-grid
    id="gridCursos"
    [dataSource]="gridData"
    [showBorders]="true"
    keyExpr="item"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    (onSaving)="saving($event)"
    (onOptionChanged)="onOptionChanged($event)"
    >

    <dxo-editing
        mode="batch"
        [allowUpdating]="true"
        [allowAdding]="false"
        [allowDeleting]="false"
        startEditAction="click"
    >
    </dxo-editing>

    <!-- <dxi-column dataField="id" [visible]="false"></dxi-column> -->
    <dxi-column dataField="item" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="nombre" [allowEditing]="false" ></dxi-column>
    <dxi-column dataField="vigencia" dataType="date" [customizeText]="customText"></dxi-column>
    <dxi-column dataField="requerido" [allowEditing]="false">
        <dxo-lookup [dataSource]="cursoRequerido" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="estatus" [allowEditing]="false">
        <dxo-lookup [dataSource]="estatusCurso" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
    </dxi-column>

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="none"></dxo-sorting>

</dx-data-grid>