<h2 class="content-block">Operador</h2>

<dx-data-grid 
    id="gridOperador"
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="false"
    (onRowUpdated)="update($event)"    
    (onRowInserting)="add($event)"
    (onRowRemoving)="remove($event)"
    (onCellPrepared)="onCellPrepared($event)"
    >

    <dxo-load-panel
    [enabled]="true"
    [showIndicator]="true"    
    [showPane]="true"
    [shading]="true"    
    shadingColor="rgba(0, 0, 0, 0.2)"
    >
    </dxo-load-panel>
    
    <!-- Edit Zone -->
    <dxo-editing
    mode="popup"
    refreshMode="reshape"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">

      <dxo-popup
      title="Editar Operador"
      [showTitle]="true"
      [width]="1000"
      [height]="550">
      </dxo-popup>    

      <!-- custom texts -->
      <dxo-texts
      cancelRowChanges="Cancelar"
      saveRowChanges="Guardar"
      addRow="Agregar nuevo elemento"
      editRow="Editar"
      deleteRow="Eliminar"
      confirmDeleteTitle="Eliminar Operador"
      confirmDeleteMessage="¿Estas seguro que quieres eliminar este Operador?">
      </dxo-texts>

      <dxo-form>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="nombre">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="apellido">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="edad" editorType="dxNumberBox">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="direccion">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="numeroCelular" editorType="dxNumberBox">
                <dxi-validation-rule type="pattern" pattern="^[0-9]{10}$" message="Deben ser solo 10 numeros">                    
                </dxi-validation-rule>
                <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="nss" editorType="dxNumberBox">
                <dxi-validation-rule type="pattern" pattern="^[0-9]{9}$" message="Deben ser solo 9 numeros">                    
                </dxi-validation-rule>
                <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="cursosSSPA"></dxi-item>
            <dxi-item dataField="vigenciaCursosSSPA" editorType="dxDateBox"></dxi-item>
            <dxi-item dataField="cursosTecnicos"></dxi-item>
            <dxi-item dataField="vigenciaCursosTecnicos" editorType="dxDateBox"></dxi-item>
            <dxi-item dataField="cvsammen"></dxi-item>
            <dxi-item dataField="examenesMedicos"></dxi-item>
            <dxi-item dataField="cursosOExperiencia"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <!-- Row zone -->
    <dxi-column dataField="id" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="nombre"></dxi-column>
    <dxi-column dataField="apellido"></dxi-column>
    <dxi-column dataField="edad"></dxi-column>
    <dxi-column dataField="direccion"></dxi-column>
    <dxi-column dataField="numeroCelular"></dxi-column>
    <dxi-column dataField="nss" caption="NSS"></dxi-column>
    <dxi-column dataField="estatus" allowEditing="false">
      <dxo-lookup [dataSource]="estatusOperador" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="cursosSSPA"></dxi-column>
    <dxi-column dataField="vigenciaCursosSSPA" dataType="date"></dxi-column>
    <dxi-column dataField="cursosTecnicos"></dxi-column>
    <dxi-column dataField="vigenciaCursosTecnicos" dataType="date"></dxi-column>
    <dxi-column dataField="cvsammen"></dxi-column>
    <dxi-column dataField="examenesMedicos"></dxi-column>
    <dxi-column dataField="cursosOExperiencia"></dxi-column>


    <!-- Pagin, Filter, Search zone --> 
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="true">
    </dxo-filter-row>

    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showNavigationButtons]="true"
      [showInfo]="true"
      infoText="Pagina #{0}. Total: {1} ({2} elementos)"
    ></dxo-pager>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    ></dxo-search-panel>

    <dxo-column-chooser 
    [enabled]="true"
    [width]="400"
    emptyPanelText="Arrastra una columna para ocultarla aqui"
    title="Almacen de columnas">
    </dxo-column-chooser>
    <!-- column fixing allows user to edit without horizontal scrolling -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    
</dx-data-grid>