<h2 class="content-block">Historial Herramienta</h2>

<dx-drop-down-button
    id="dropDownMarca"
    [dataSource]="dropDownMarca"
    valueExpr="id"
    displayExpr="nombre"
    [text]="dropMarcaText"        
    stylingMode="text"
    width="200"
    (onItemClick)="onMarcaClick($event)"
    >            
</dx-drop-down-button>

<dx-drop-down-button
    id="dropDownModelo"
    [dataSource]="dropDownModelo"
    valueExpr="id"
    displayExpr="nombre"
    [text]="dropModeloText"        
    stylingMode="text"
    width="400"
    [disabled]="dropModeloDisabled"
    (onItemClick)="onModeloClick($event)"
    >            
</dx-drop-down-button>

<dx-drop-down-button
    id="dropNumSerie"
    [dataSource]="dropDownNumSerie"
    valueExpr="id"
    displayExpr="nombre"
    [text]="dropNumSerieText"        
    stylingMode="text"
    width="400"
    [disabled]="dropNumSerieDisabled"
    (onItemClick)="onNumSerieClick($event)"
    >            
</dx-drop-down-button>

<dx-data-grid 
    id="gridHistorialHerramientas"
    class="dx-card wide-card"
    [dataSource]="filteredDataSource"
    [showBorders]="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="false"
    [disabled]="tableDisabled"
    (onRowUpdated)="updateHistorialHerramienta($event)"    
    (onRowInserting)="addHistorialHerramienta($event)"
    (onRowRemoving)="deleteHistorialHerramienta($event)"
    (onExporting)="onExporting($event)"
    >

    <dxo-load-panel
    [enabled]="true"
    [showIndicator]="true"    
    [showPane]="true"
    [shading]="true"    
    shadingColor="rgba(0, 0, 0, 0.2)"
    >
    </dxo-load-panel>
    
    <!-- Edit Zone -->
    <!-- mode="popup" -->
    <dxo-editing
    mode="batch"
    refreshMode="reshape"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">

      <dxo-popup
      title="Editar Historial Herramienta"
      [showTitle]="true"
      [fullScreen]="true"
      >
      </dxo-popup>    

      <!-- custom texts -->
      <dxo-texts
      cancelRowChanges="Cancelar"
      saveRowChanges="Guardar"
      addRow="Agregar nuevo elemento"
      editRow="Editar"
      deleteRow="Eliminar"
      confirmDeleteTitle="Eliminar Historial Herramienta"
      confirmDeleteMessage="¿Estas seguro que quieres eliminar esta Historial Herramienta?">
      </dxo-texts>
    </dxo-editing>

    <!-- Row zone -->
    <dxi-column dataField="id" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="numeroSerie" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="numero" caption="Numero *" editorType="dxNumberBox">
      <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="fecha" dataType="date" caption="Fecha *">
      <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="pozo" caption="Pozo *">
      <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="estructura" caption="Estructura *">
      <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="tipoOperacion" caption="Tipo de Operacion *">
        <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        <dxo-lookup [dataSource]="tipoOperacion" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="unidad" caption="Unidad *">
        <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        <dxo-lookup [dataSource]="unidad" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="idOperador" caption="Operador *">
        <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        <dxo-lookup [dataSource]="operadores" displayExpr="nombre" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="profundidadMax" caption="Profundidad Maxima *" editorType="dxNumberBox">
      <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
    </dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="od" caption="O.D (in)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="maxWHP" caption="Max W.H.P (psi)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="temperaturaMaxima" caption="Temp. Maxima (°C)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="maxCircPressure" caption="Max. Circ. Pressure (PSI)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="diesel" caption="Diesel (bls)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="solvente" caption="Solvente (bls)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="acido" caption="Acido (bls)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="divergente" caption="Divergente (bls)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="nitrogeno" caption="Nitrogeno (m3)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="gelLineal" caption="GelLineal (bls)"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="agua"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="inhibidor"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="horasOperativas"></dxi-column>
    <dxi-column editorType="dxNumberBox" dataField="horasEfectivas"></dxi-column>
    <dxi-column dataField="notas"></dxi-column>
    <dxi-column dataField="marca" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="modelo" [visible]="false" [showInColumnChooser]="false"></dxi-column>

    <!-- Pagin, Filter, Search zone --> 
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="true">
    </dxo-filter-row>

    <dxo-export 
      [enabled]="true"
      [formats]="['pdf']"
      [allowExportSelectedData]="false"
    >      
    </dxo-export>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showNavigationButtons]="true"
      [showInfo]="true"
      infoText="Pagina #{0}. Total: {1} ({2} elementos)"
    ></dxo-pager>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    ></dxo-search-panel>

    <dxo-column-chooser 
    [enabled]="true"
    [width]="400"
    emptyPanelText="Arrastra una columna para ocultarla aqui"
    title="Almacen de columnas">
    </dxo-column-chooser>
    <!-- column fixing allows user to edit without horizontal scrolling -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    
</dx-data-grid>