<h2 class="content-block">Ubicación</h2>


<dx-data-grid 
    id="gridUbicacion"
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="false"
    (onRowUpdated)="update($event)"    
    (onRowInserting)="add($event)"
    (onRowRemoving)="remove($event)"
    >

    <dxo-load-panel
    [enabled]="true"
    [showIndicator]="true"    
    [showPane]="true"
    [shading]="true"    
    shadingColor="rgba(0, 0, 0, 0.2)"
    >
    </dxo-load-panel>
    
    <!-- Edit Zone -->
    <dxo-editing
    mode="popup"
    refreshMode="reshape"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">

      <dxo-popup
      title="Editar Ubicacion"
      [showTitle]="true"
      [width]="1000"
      [height]="550">
      </dxo-popup>    

      <!-- custom texts -->
      <dxo-texts
      cancelRowChanges="Cancelar"
      saveRowChanges="Guardar"
      addRow="Agregar nuevo elemento"
      editRow="Editar"
      deleteRow="Eliminar"
      confirmDeleteTitle="Eliminar Ubicacion"
      confirmDeleteMessage="¿Estas seguro que quieres eliminar esta Ubicacion?">
      </dxo-texts>

      <dxo-form>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
            <dxi-item dataField="nombre">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="abreviatura">
              <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="direccion"></dxi-item>
            <dxi-item dataField="numeroCelular" editorType="dxNumberBox">
                <dxi-validation-rule type="pattern" pattern="^[0-9]{10}$" message="Deben ser solo 10 numeros"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="cantidadUTF" editorType="dxNumberBox"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <!-- Row zone -->
    <dxi-column dataField="id" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="nombre"></dxi-column>
    <dxi-column dataField="abreviatura"></dxi-column>
    <dxi-column dataField="direccion"></dxi-column>
    <dxi-column dataField="numeroCelular"></dxi-column>
    <dxi-column dataField="cantidadUTF"></dxi-column>

    <!-- Pagin, Filter, Search zone --> 
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="true">
    </dxo-filter-row>

    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showNavigationButtons]="true"
      [showInfo]="true"
      infoText="Pagina #{0}. Total: {1} ({2} elementos)"
    ></dxo-pager>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    ></dxo-search-panel>

    <dxo-column-chooser 
    [enabled]="true"
    [width]="400"
    emptyPanelText="Arrastra una columna para ocultarla aqui"
    title="Almacen de columnas">
    </dxo-column-chooser>
    <!-- column fixing allows user to edit without horizontal scrolling -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    
</dx-data-grid>