<h2 class="content-block">Medidas Herramientas</h2>

<dx-data-grid 
    id="gridMedidaHerramientas"
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="false"
    (onRowUpdated)="UpdateMedidaHerramienta($event)"    
    (onRowInserting)="NewMedidaHerramienta($event)"
    (onRowRemoving)="deleteMedidaHerramienta($event)"
    >

    <dxo-load-panel
    [enabled]="true"
    [showIndicator]="true"    
    [showPane]="true"
    [shading]="true"    
    shadingColor="rgba(0, 0, 0, 0.2)"
    >
    </dxo-load-panel>
    
    <!-- Edit Zone -->
    <dxo-editing
    mode="popup"
    refreshMode="reshape"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true">

      <dxo-popup
      title="Editar Medida Herramienta"
      [showTitle]="true"
      [width]="1000"
      [height]="550">
      </dxo-popup>    

      <!-- custom texts -->
      <dxo-texts
      cancelRowChanges="Cancelar"
      saveRowChanges="Guardar"
      addRow="Agregar nuevo elemento"
      editRow="Editar"
      deleteRow="Eliminar"
      confirmDeleteTitle="Eliminar Medida Herramienta"
      confirmDeleteMessage="¿Estas seguro que quieres eliminar esta Medida Herramienta?">
      </dxo-texts>

      <dxo-form>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">          
          <dxi-item dataField="numero" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="descripcion">
            <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="roscaCaja" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="roscaPin" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="diametroExterno" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="balinPaso"></dxi-item>
          <dxi-item dataField="longitud" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="numeroSerie">
            <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="tensionMaxima" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="presionMaxima" editorType="dxNumberBox"></dxi-item>
          <dxi-item dataField="balinSub"></dxi-item>
          <dxi-item dataField="balinDesconector"></dxi-item>
          <dxi-item dataField="estatus">
            <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="tipo">
            <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
          </dxi-item>
        </dxi-item>


      </dxo-form>
    </dxo-editing>

    <!-- Row zone -->
    <dxi-column dataField="id" [visible]="false" [showInColumnChooser]="false"></dxi-column>
    <dxi-column dataField="tipo">
      <dxo-lookup [dataSource]="tipoMedidaHerramienta" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="numero"></dxi-column>
    <dxi-column dataField="descripcion"></dxi-column>
    <dxi-column dataField="roscaCaja"></dxi-column>
    <dxi-column dataField="roscaPin"></dxi-column>
    <dxi-column dataField="diametroExterno"></dxi-column>
    <dxi-column dataField="balinPaso"></dxi-column>
    <dxi-column dataField="longitud"></dxi-column>
    <dxi-column dataField="numeroSerie"></dxi-column>
    <dxi-column dataField="estatus">
      <dxo-lookup [dataSource]="estatusList" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="tensionMaxima"></dxi-column>
    <dxi-column dataField="presionMaxima"></dxi-column>
    <dxi-column dataField="balinSub"></dxi-column>
    <dxi-column dataField="balinDesconector"></dxi-column>

    <!-- Pagin, Filter, Search zone --> 
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="true">
    </dxo-filter-row>

    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showNavigationButtons]="true"
      [showInfo]="true"
      infoText="Pagina #{0}. Total: {1} ({2} elementos)"
    ></dxo-pager>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    ></dxo-search-panel>

    <dxo-column-chooser 
    [enabled]="true"
    [width]="400"
    emptyPanelText="Arrastra una columna para ocultarla aqui"
    title="Almacen de columnas">
    </dxo-column-chooser>
    <!-- column fixing allows user to edit without horizontal scrolling -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  
</dx-data-grid>

<dx-button
stylingMode="contained"
text="Ver Medidas Herramientas Especiales"
type="normal"
[width]="400"
(onClick)="click($event)"
>