<h2 class="content-block">Herramientas</h2>
<dx-data-grid 
    id="gridHerramientas"
    class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="true"
    keyExpr="id"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="false"
    (onRowUpdated)="updateHerramienta($event)"    
    (onRowInserting)="newHerramienta($event)"
    (onRowRemoving)="deleteHerramienta($event)"
    >

    <dxo-load-panel
    [enabled]="true"
    [showIndicator]="true"    
    [showPane]="true"
    [shading]="true"    
    shadingColor="rgba(0, 0, 0, 0.2)"
    >
    </dxo-load-panel>

    <!-- Edit zone -->
    <dxo-editing
    mode="popup"
    refreshMode="reshape"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  >
    <dxo-popup
      title="Editar Herramienta"
      [showTitle]="true"
      [width]="1000"
      [height]="550"
    >
    </dxo-popup>

    <!-- custom texts -->
    <dxo-texts
    cancelRowChanges="Cancelar"
    saveRowChanges="Guardar"
    addRow="Agregar nuevo elemento"
    editRow="Editar"
    deleteRow="Eliminar"
    confirmDeleteTitle="Eliminar Herramienta"
    confirmDeleteMessage="¿Estas seguro que quieres eliminar esta Herramienta?"
    >
    </dxo-texts>

    <!-- Edit Form -->
    <dxo-form>
      <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
        <dxi-item dataField="num" editorType="dxNumberBox"></dxi-item>
        <dxi-item dataField="descripcion">
          <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="numeroSerie">
          <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="numeroInforme"></dxi-item>
        <dxi-item dataField="fechaVencimiento" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="dias" editorType="dxNumberBox"></dxi-item>
        <dxi-item dataField="fechaEntrega" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="diasCampo" editorType="dxNumberBox"></dxi-item>
        <dxi-item dataField="acuse"></dxi-item>
        <dxi-item dataField="firma"></dxi-item>
        <dxi-item dataField="ultimoMtto" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="diasSinMtto" editorType="dxNumberBox"></dxi-item>
        <dxi-item dataField="estatus">
          <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="idUbicacion">
          <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="tipo">
          <dxi-validation-rule type="required" [message]=requiredMsj ></dxi-validation-rule>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
        <dxi-item
          dataField="observaciones"          
          [colSpan]="3"
          [editorOptions]="{ height: 100 }">
        </dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>

    <!-- Row zone -->
    <dxi-column dataField="id" [visible]="false" [showInColumnChooser]="false" ></dxi-column>
    <dxi-column dataField="tipo">
      <dxo-lookup [dataSource]="tipoHerramienta" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="num"></dxi-column>
    <dxi-column dataField="descripcion"></dxi-column>
    <dxi-column dataField="numeroSerie"></dxi-column>
    <dxi-column dataField="numeroInforme"></dxi-column>
    <dxi-column dataField="fechaVencimiento" dataType="date"></dxi-column>
    <dxi-column dataField="dias"></dxi-column>
    <dxi-column dataField="estatus">
      <dxo-lookup [dataSource]="estatusList" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="fechaEntrega" dataType="date"></dxi-column>
    <dxi-column dataField="diasCampo"></dxi-column>
    <dxi-column dataField="acuse"></dxi-column>
    <dxi-column dataField="firma"></dxi-column>
    <dxi-column dataField="idUbicacion" caption="Ubicación">
      <dxo-lookup [dataSource]="ubicaciones" displayExpr="nombre" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ultimoMtto"></dxi-column>
    <dxi-column dataField="diasSinMtto"></dxi-column>
    <dxi-column dataField="observaciones"></dxi-column>
    <dxi-column dataField="idMedidaHerramienta" [visible]="false" [showInColumnChooser]="false"></dxi-column>


    <!-- Pagin, Filter, Search zone -->
    <dxo-filter-row
        [visible]="true"
        [applyFilter]="true">
    </dxo-filter-row>
    
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showNavigationButtons]="true"
      [showInfo]="true"
      infoText="Pagina #{0}. Total: {1} ({2} elementos)"
    ></dxo-pager>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Buscar..."
    ></dxo-search-panel>

    <dxo-column-chooser 
    [enabled]="true"
    [width]="400"
    emptyPanelText="Arrastra una columna para ocultarla aqui"
    title="Almacen de columnas">
    </dxo-column-chooser>
    <!-- column fixing allows user to edit without horizontal scrolling -->
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

</dx-data-grid>